body {
	background-color: #f2efea;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
  
#main {
	background-color: white;
	margin: 0px auto;
	max-width: 500px;
}
  
.content {
	padding: 10px;
}