ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul li {
	display: flex;
	margin-top: 10px;
}

ul li p {
	background-color: #e0e0e0;
	margin: 0;
	margin-right: 10px;
	padding: 12px;
	flex-grow: 1;
}
